
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #F5F5DC;
  color: #444;
  transition: background 0.3s, color 0.3s;
}

header {
  background: #786C3B;
  color: white;
  padding: 1px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 135px;
}

.portfolio {
margin-top: 20px; 
}

footer {
  text-align: center;
  background: #786C3B;
  color: white;
  padding: 0.5px;
  margin-top: 20px;
}


.box {
  border: 2px solid #C9C4B5;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.box h2 {
  color: #786C3B;
}


.dark-mode {
  background: #2F4F4F;
  color: #F5F5DC;
}

.dark-mode header,
.dark-mode footer {
  background: #452B1F;
}

.dark-mode .box {
  background: #3A3D41;
  border: 2px solid #C9C4B5;
  color: #F5F5DC;
  box-shadow: 0 4px 10px rgba(255,255,255,0.1);
}

.dark-mode .box h2 {
  color: #C9C4B5;
}